@model AutoCompleteCustomControl.Models.ContactPartialViewModel
<style type="text/css">
    .spacer5 {
        height: 5px;
    }
</style>
<div class="row">
    <div class="col-sm-3">
        @Html.DropDownListFor(m => m.ContactMode_First, Model.ContactModeList, new { @class = "form-control ddlContactmode" })
    </div>
    <div class="col-sm-3">
        @Html.DropDownListFor(m => m.CountryCode_First, Model.CountryCodeList, new { @class = "form-control ddlCountry" })
    </div>
    <div class="col-sm-3">
        @Html.TextBoxFor(m => m.InputText_First, new { @class = "form-control" })
    </div>
    <div class="col-sm-3">
        @Html.TextBoxFor(m => m.Extension_First, new { @class = "form-control" })
    </div>
</div>
<div class="spacer5"></div>
<div class="row panel-default">
    <div class="col-sm-3">
        @Html.DropDownListFor(m => m.ContactMode_Second, Model.ContactModeList, new { @class = "form-control ddlContactmode" })
    </div>
    <div class="col-sm-3">
        @Html.DropDownListFor(m => m.CountryCode_Second, Model.CountryCodeList, new { @class = "form-control ddlCountry", onchange="countryChange(this)" })
    </div>
    <div class="col-sm-3">
        @Html.TextBoxFor(m => m.InputText_Second, new { @class = "form-control" })
    </div>
    <div class="col-sm-3">
        @Html.TextBoxFor(m => m.Extension_Second, new { @class = "form-control" })
    </div>
</div>
<div class="spacer5"></div>
<div class="row panel-default">
    <div class="col-sm-3">
        @Html.DropDownListFor(m => m.ContactMode_Third, Model.ContactModeList, new { @class = "form-control ddlContactmode" })
    </div>
    <div class="col-sm-3">
        @Html.DropDownListFor(m => m.CountryCode_Third, Model.CountryCodeList, new { @class = "form-control ddlCountry" })
    </div>
    <div class="col-sm-3">
        @Html.TextBoxFor(m => m.InputText_Third, new { @class = "form-control" })
    </div>
    <div class="col-sm-3">
        @Html.TextBoxFor(m => m.Extension_Third, new { @class = "form-control" })
    </div>
</div>
